@{
    ViewBag.Title = "Add Result";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h3 style="text-align:center">Телефон добавлен!</h3>
<img src="~/Images/smile.png" style="width:auto;height:512px;padding-left:25%"/>
<p style="text-align:center">@Html.ActionLink("На главную", "Login", "Account")</p>