<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />   
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Ads">Phones Store</a>
            </div>
            @if (ViewBag.Title != "Login" && ViewBag.Title != "Registration")
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/LogOff"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                </ul>
            }
            else if (ViewBag.Title == "Login")
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Registration"><span class="glyphicon glyphicon-log-in"></span> Регистрация</a></li>
                </ul>
            }
        </div>
    </nav>
    @RenderBody()
</body>
</html>
