
@model PhoneStore.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        @using (Html.BeginForm())
        {
            <strong>@Html.ValidationSummary()</strong>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.TextBoxFor(e => e.Email, new { @class = "form-control", @placeholder = "E-mail" })
                </div>
            </div>
                <br />
                <div class="form-group">
                    <div class="col-md-8" style="padding-top:10px">
                        @Html.PasswordFor(e => e.Password, new { @class = "form-control", @placeholder = "Пароль" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-8" style="padding-top:10px">
                        <button class="btn btn-success" type="submit">Войти</button>
                    </div>
                </div>
        }
    </div>
    <div class="col-sm-4"></div>
</div>
