@{
    ViewBag.Title = "Registration result";
    Layout = "~/Views/_BasicLayout.cshtml";
}
    <div>
        @if (ViewBag.Message != null) 
        {
            <p>Приносим свои извинения. Сейчас невозможно отправить электронное письмо.</p>
            <p>Пожалуйста, попробуйте позже</p>
        }
        else
        {
            <p>Спасибо за регистрацию! </p>
            <p>На Вашу электронную почту отправлена ссылка. Пожалуйста, пройдите по ней для завершения регистрации.</p>
            <p>@Html.ActionLink("На главную", "Login", "Account")</p>
        }
    </div>

