@{
    ViewBag.Title = "Registration result";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<div class="col-sm-12" style="text-align: center">
    @if (ViewBag.Message != null)
    {
        <div>
            Приносим свои извинения. Сейчас невозможно отправить электронное письмо.
            Пожалуйста, попробуйте позже
        </div>
    }
    else
    {
        <div>
            <p>Спасибо за регистрацию!</p>
            <p>На Вашу электронную почту отправлена ссылка. Пожалуйста, пройдите по ней для завершения регистрации.</p>
            <p>@Html.ActionLink("На главную", "Login", "Account")</p>
        </div>
    }
</div>


