
@model PhoneStore.Models.User
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/_BasicLayout.cshtml";
}

    <div class="col-sm-12" style="text-align: center"> 
        <p>Спасибо за регистрацию! Пройдите подтверждение регистрации по ссылке которая выслана вам на email.</p>
        <p>@Html.ActionLink("На главную", "Login", "Account")</p>
    </div>
