@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultRegister</title>
</head>
<body>
    <div> 
        <p>Спасибо за регистрацию! </p>
        <p>На Вашу электронную почту отправлена ссылка. Пожалуйста, пройдите по ней для завершения регистрации.</p>
        <p>@Html.ActionLink("На главную", "Login", "Account")</p>
    </div>
</body>
</html>
